<a href="https://colab.research.google.com/github/yulia24tyhrt/artwork/blob/main/30_%D1%83%D0%BF%D1%80%D0%B0%D0%B6%D0%BD%D0%B5%D0%BD%D0%B8%D0%B9_%D0%BF%D0%BE_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8E_%D0%BD%D0%B0_Python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Упражнение 1**

Напишите программу, которая найдет все такие числа, которые делятся на 7, но не кратны 5, в диапазоне от 2000 до 3200 (оба включены). Полученные числа следует вывести через запятую в одну строку.

In [ ]:
l=[]
for i in range(2000, 3201):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

**Упражнение 2**

Напишите программу, вычисляющую факториал заданного числа. Результаты должны быть напечатаны в одной строке через запятую. Предположим, что в программу подается следующий ввод: 8. Тогда вывод должен быть: 40320.

In [ ]:
def fact(x):
    if x == 0:
        return 1
    return x * fact(x - 1)

x=int(input())
print(fact(x))

8
40320

**Упражнение 3**

Имея заданное целое число n, напишите программу для создания словаря, содержащего (i, i*i), который является целым числом от 1 до n (оба включены). а затем программа должна распечатать словарь.

In [ ]:
n=int(input())
d=dict()
for i in range(1,n+1):
    d[i]=i*i

print(d)

1
{1: 1}

**Упражнение 4**

Напишите программу, которая принимает из консоли последовательность чисел, разделенных запятыми, и генерирует список и кортеж, содержащий каждое число.

In [ ]:
values=input()
l=values.split(",")
t=tuple(l)
print(l)
print(t)

34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

**Упражнение 5**

Определите класс, который имеет как минимум два метода: getString: для получения строки из консольного ввода. printString: для печати строки в верхнем регистре. Также включите простую тестовую функцию для проверки методов класса.

In [ ]:
class InputOutString(object):
    def __init__(self):
        self.s = ""

    def getString(self):
        self.s = input()

    def printString(self):
        print(self.s.upper())

strObj = InputOutString()
strObj.getString()
strObj.printString()

4
4

**Упражнение 6**

Напишите программу, которая вычисляет и печатает значение в соответствии с данной формулой: Q = квадратный корень из [(2 * C * D)/H] Ниже приведены фиксированные значения C и H: C равно 50. H равно 30. . D — это переменная, значения которой должны вводиться в вашу программу в последовательности, разделенной запятыми.

In [ ]:
import math
c=50
h=30
value = []
items=[x for x in input().split(',')]
for d in items:
    value.append(str(int(round(math.sqrt(2*c*float(d)/h)))))

print(','.join(value))

100,150,180
18,22,24

**Упражнение 7**

Напишите программу, которая принимает на вход две цифры X и Y и генерирует двумерный массив. Значение элемента в i-й строке и j-м столбце массива должно быть i*j. Примечание: i=0,1.., X-1; j=0,1,¡Y-1.

In [ ]:
input_str = input()
dimensions=[int(x) for x in input_str.split(',')]
rowNum=dimensions[0]
colNum=dimensions[1]
multilist = [[0 for col in range(colNum)] for row in range(rowNum)]

for row in range(rowNum):
    for col in range(colNum):
        multilist[row][col]= row*col

print(multilist)

3,5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

**Упражнение 8**

Напишите программу, которая принимает на вход последовательность слов, разделенных запятыми, и печатает слова в последовательности, разделенной запятыми, после их сортировки в алфавитном порядке.

In [ ]:
items=[x for x in input().split(',')]
items.sort()
print(','.join(items))

без,привет,мешок,мир
без,мешок,мир,привет

**Упражнение 9**

Определите функцию, которая может печатать словарь, в котором ключами являются числа от 1 до 20 (оба включены), а значениями являются квадраты ключей.

In [ ]:
def printDict():
	d=dict()
	for i in range(1,21):
		d[i]=i**2
	print(d)

printDict()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

**Упражнение 10**

Напишите программу, которая принимает на вход последовательность слов, разделенных пробелами, и печатает слова после удаления всех повторяющихся слов и сортировки их по алфавиту.

In [ ]:
s = input()
words = [word for word in s.split(" ")]
print(" ".join(sorted(list(set(words)))))

hello world
hello world

**Упражнение 11**

Напишите программу, которая принимает на вход последовательность четырехзначных двоичных чисел, разделенных запятыми, а затем проверяет, делятся ли они на 5 или нет. Числа, кратные 5, следует печатать в последовательности, разделенной запятыми.

In [ ]:
value = []
items=[x for x in input().split(',')]
for p in items:
    intp = int(p, 2)
    if not intp%5:
        value.append(p)

print(','.join(value))

0100,0011,1010,1001
1010

**Упражнение 12**

Напишите программу, которая найдет все такие числа от 1000 до 3000 (оба включены) такие, что каждая цифра числа является четным числом. Полученные числа следует вывести через запятую в одну строку.

In [ ]:
values = []
for i in range(1000, 3001):
    s = str(i)
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0) and (int(s[3])%2==0):
        values.append(s)
print(",".join(values))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

**Упражнение 13**

Напишите программу, которая принимает предложение и подсчитывает количество букв и цифр.

In [ ]:
s = input()
d={"DIGITS":0, "LETTERS":0}
for c in s:
    if c.isdigit():
        d["DIGITS"]+=1
    elif c.isalpha():
        d["LETTERS"]+=1
    else:
        pass
print("LETTERS", d["LETTERS"])
print("DIGITS", d["DIGITS"])

hello world! 123
LETTERS 10
DIGITS 3

**Упражнение 14**

Напишите программу, которая принимает предложение и подсчитывает количество прописных и строчных букв.

In [ ]:
s = input()
d={"UPPER CASE":0, "LOWER CASE":0}
for c in s:
    if c.isupper():
        d["UPPER CASE"]+=1
    elif c.islower():
        d["LOWER CASE"]+=1
    else:
        pass
print("UPPER CASE", d["UPPER CASE"])
print("LOWER CASE", d["LOWER CASE"])

Привет, мир!
UPPER CASE 1
LOWER CASE 8

**Упражнениме 15**

Напишите программу, которая вычисляет значение a+aa+aaa+aaaa, используя заданную цифру в качестве значения a.

In [ ]:
a = input()
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
n4 = int( "%s%s%s%s" % (a,a,a,a) )
print(n1+n2+n3+n4)

9
11106

**Упражнение 16**

Используйте понимание списка, чтобы возвести в квадрат каждое нечетное число в списке. В список вводится последовательность чисел, разделенных запятыми.

In [ ]:
values = input()
numbers = [x for x in values.split(",") if int(x)%2!=0]
print(",".join(numbers))

1,2,3,4,5,6,7,8,9
1,3,5,7,9

**Упражнение 17**

Определите функцию, которая может генерировать словарь, в котором ключами являются числа от 1 до 20 (оба включены), а значениями являются квадраты ключей. Функция должна просто печатать только значения.

In [ ]:
def printDict():
	d=dict()
	for i in range(1,21):
		d[i]=i**2
	for (k,v) in d.items():
		print(v)

printDict()

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

**Упражнение 18**

Веб-сайт требует от пользователей ввода имени пользователя и пароля для регистрации. Напишите программу для проверки правильности ввода пароля пользователями. Ниже приведены критерии проверки пароля:

Хотя бы 1 буква между [az]
Хотя бы 1 число между [0-9]
Хотя бы 1 буква между [AZ]
Хотя бы 1 символ из [$#@]
Минимальная длина пароля транзакции: 6
Максимальная длина пароля транзакции: 12. Ваша программа должна принимать последовательность паролей, разделенных запятыми, и проверять их в соответствии с вышеуказанными критериями. Пароли, соответствующие критериям, должны быть напечатаны, разделенные запятой.

In [ ]:
import re
value = []
items=[x for x in input().split(',')]
for p in items:
    if len(p)<6 or len(p)>12:
        continue
    else:
        pass
    if not re.search("[a-z]",p):
        continue
    elif not re.search("[0-9]",p):
        continue
    elif not re.search("[A-Z]",p):
        continue
    elif not re.search("[$#@]",p):
        continue
    elif re.search("\s",p):
        continue
    else:
        pass
    value.append(p)
print(",".join(value))

ABd1234@1,a F1#,2w3E*,2We3345
ABd1234@1

**Упражнение 19**

Имея заданный кортеж (1,2,3,4,5,6,7,8,9,10), напишите программу для печати первых половинных значений в одной строке и последних половинных значений в одной строке.

In [ ]:
tp=(1,2,3,4,5,6,7,8,9,10)
tp1=tp[:5]
tp2=tp[5:]
print(tp1)
print(tp2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

**Упражнение 20**

Напишите программу, которая может фильтровать четные числа в списке, используя функцию фильтра. Список такой: [1,2,3,4,5,6,7,8,9,10].

In [ ]:
li = [1,2,3,4,5,6,7,8,9,10]
evenNumbers = filter(lambda x: x%2==0, li)
print(evenNumbers)

<filter object at 0x7caacc326620>

**Упражнение 21**

Напишите программу, которая может фильтровать() для создания списка, элементы которого имеют четные числа от 1 до 20 (оба включены).

In [ ]:
evenNumbers = filter(lambda x: x%2==0, range(1,21))
print(evenNumbers)

<filter object at 0x7caacc326500>

**Упражение 22**

Напишите программу для вычисления 1/2+2/3+3/4+...+n/n+1 с заданным n, введенным через консоль (n>0).

In [ ]:
n=int(input())
sum=0.0
for i in range(1,n+1):
    sum += float(float(i)/(i+1))
print(sum)

1
0.5

**Упражнение 23**

Напишите метод, который может вычислить квадратное значение числа.

In [ ]:
def square(num):
    return num ** 2

print(square(2))
print(square(3))

4
9

**Упражнение 24**

Python имеет множество встроенных функций, и если вы не знаете, как его использовать, вы можете прочитать документ в Интернете или найти несколько книг. Но в Python есть встроенная функция документа для каждой встроенной функции.

In [ ]:
print(abs.__doc__)
print(int.__doc__)
print(input.__doc__)

def square(num):
    '''Return the square value of the input number.

    The input number must be integer.
    '''
    return num ** 2

print(square(2))
print(square.__doc__)

Return the absolute value of the argument.
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4
Forward raw_input to frontends

        Raises
        ------
        StdinNotImplementedError if active frontend doesn't support stdin.

4
Return the square value of the input number.

    The input number must be integer.

**Упражнение 25**

Определите класс, у которого есть параметр класса и один и тот же параметр экземпляра.

In [ ]:
class Person:
    # Define the class parameter "name"
    name = "Person"

    def __init__(self, name = None):
        # self.name is the instance parameter
        self.name = name

jeffrey = Person("Jeffrey")
print("%s name is %s" % (Person.name, jeffrey.name))

nico = Person()
nico.name = "Nico"
print("%s name is %s" % (Person.name, nico.name))

Person name is Jeffrey
Person name is Nico

**Упражнение 26**

Определите функцию, которая может вычислять сумму двух чисел.

In [ ]:
def SumFunction(number1, number2):
	return number1+number2

print(SumFunction(1,2))

3

**Упражнение 27**

Определите функцию, которая может преобразовать целое число в строку и вывести ее на консоль.

In [ ]:
def printValue(n):
    print(str(n))

printValue(3)

3

**Упражнение 28**

Определите функцию, которая может получать два целых числа в строковой форме, вычислять их сумму, а затем печатать ее в консоли.

In [ ]:
def printValue(s1,s2):
    print(int(s1)+int(s2))

printValue("3","4")

7

**Упражение 29**

Определите функцию, которая может принимать на вход две строки и печатать строку максимальной длины в консоли. Если две строки имеют одинаковую длину, функция должна вывести все l строк построчно.

In [ ]:
def printValue(s1,s2):
    len1 = len(s1)
    len2 = len(s2)
    if len1>len2:
        print(s1)
    elif len2>len1:
        print(s2)
    else:
        print(s1)
        print(s2)

printValue("one","three")

three

**Упражнение 30**

Определите функцию, которая может принимать две строки в качестве входных данных, объединять их, а затем печатать в консоли.

In [ ]:
def printValue(s1,s2):
    print(s1+s2)

printValue("3","4") #34

34